@import "../utils/_mixins.scss";

.btn {
    @include transition(background-color, 0.2s, ease-in-out);
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #496169;
    border-radius: 16px;
    outline: none;

    &:hover {
        background-color: #294149;
    }
}

.btn-dropdown {
    padding: 12px 40px;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
